ENVIRONMENT=dev
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=site
WORDPRESS_TABLE_PREFIX=site_
WORDPRESS_DB_HOST=mysql
XDEBUG_CONFIG=remote_host=host.docker.internal
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_DATABASE=site
MYSQL_RANDOM_ROOT_PASSWORD=1
MYSQL_INITDB_SKIP_TZINFO=1